.item1 {
    display: grid;
    grid-template-columns: 920px 100px;
}
.sub2 {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 15px 5px 5px 5px;
    
}
.item2 {
    display: grid;
    grid-template-rows: 10px 105px;
}
/* .item4{
    display: grid;
    text-align: center;
     justify-self: center; 
    justify-content: space-around;
  
}
.file {
    display: grid;
    text-align: center;
    align-self: center;
    grid-template-columns: 1600px 0px 50px;
}
.textos {
    display: grid;
    text-align: center;
    grid-template-columns: 290px 1010px 290px;
    
      */

.item4{
    display:grid;
   justify-self: center;
}
.textos{
    display: grid;
    grid-template-columns: 330px 330px 330px;
}
.pagina3{
    display: grid;
    justify-items: center;
}
.imagenes{
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 270px 300px;
}