@font-face {
    font-family:"font1";
    src: url(./font/fontawesome-webfont.woff);
}
@font-face {
    font-family:"font2";
    src: url(./font/fontawesome-webfont.woff2);
}
@font-face {
    font-family:"font3";
    src: url(./font/opensans-regular-webfont.woff);
}
@font-face {
    font-family:"font4";
    src: url(./font/opensans-regular-webfont.woff2);
}

.pagina1{
    display: grid;
    background-image: url(./img/fondo-bienvenido-grande.jpg);
    background-size: contain;
    height: 968px;
}
.item1{
    background-color: rgba(0, 0, 0, 0.548);
    height: 85px;
}
.sub1{
    display: grid;
    font-weight: bolder;
    justify-content:center;
    padding: 21px;
    font-size: 27px;
    color: white;

}
.sub2 {
    display: grid;
    justify-content: space-between;
    width: 375px;
    

}

#a1 {
    display: grid;
    font-size: 15px;
    justify-content: center;
    border: transparent;
    width: 120px;
    height: 35px;   
    background-color: #f05f40;
    padding: 5px;
    margin: 25px;
    color:white ;
}
#a2 {
    display: grid;
    font-size: 15px;
    background-color: transparent;
    border: transparent;
    width: 120px;
    height: 35px;
    padding: 5px;
    margin: 25px;
    color:white ;
}
#a3 {
    display: grid;
    font-size: 15px;
    background-color: transparent;
    border: transparent;
    width: 120px;
    height: 35px;
    padding: 5px;
    margin: 25px;
    color:white ;
}
#a4 {
    display: grid;
    font-size: 15px;
    background-color: transparent;
    border: transparent;
    width: 120px;
    height: 35px;
    padding: 5px;
    margin: 25px;
    color:white ;
}
.item2 {
    display:grid;
    justify-content: center;
    width: auto;
    height: 300px;
    padding: 10px
}
.ms{
    display: grid;
    justify-content: center;
    color:white;
    font-size: 17px;
    
}
.ms1{
    color:white;
    font-size: 57px;
}
#contact{
    display: grid;

    justify-content: center;
    justify-self: center;
    background-color: #f05f40;
    border-color: transparent;
    color: white;
    height: 45px;
    width: 220px;
    padding: 10px;
    
}
.pagina2{
    display:grid;
    height: 968px;
    
}
.item3 {
    height: 615px;
    background-color: #f05f40;

   
}
#img1{
    display: grid;
    height: 230px;
    width: auto;
    display: block;
    margin: auto;
    padding: 42px;
}
.p2{
    display: grid;
    color: white;
    justify-content: center;
    font-size: 34px;
    
}
.p3{
    display: grid;
    color: white;
    padding: 28px;
    margin: auto;
    width: 1000px;
    text-align: center;
    font-size: 19.5px;
}
#moreinf{
    display: grid;
    align-items: center;
     
}
.item3 div{
    display: flex;
    justify-content: center;
}
#moreinf{
    display: flex;
    background-color: white;
    font-size: 17px;
    width: 240px;
    height: 65px;
    padding: 5px;
    margin: 15px;
    text-align: justify;
}
#aea {
    display: grid;
    color: white;
}
.item4{
    display: grid;
    justify-content: space-between;
    background-color: white;
    height: 600px;
    width: 1000px;
}
.p4{
    display: grid;
    justify-content: center;
    padding: 60px;
    font-size: 35px;
}
.file{
    display: grid;
    justify-content: space-between;
    font-size: 100px;
    color:#f05f40;

}

.t1{
    display: grid;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
.lt1{
    display: grid;
    font-weight: normal;
    font-size: 21px;
    padding: 10px;
    text-align: center;
}
.t2{
    display: grid;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    
}
.lt2{
    display: grid;
    font-weight: normal;
    font-size: 21px;
    
    padding: 10px;
    text-align: center;
}
.t3{
    display: grid;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    
}
.lt3{
    display: grid;
    font-weight: normal;
    font-size: 21px;
    padding: 10px;
    text-align: center;
}
.c1{
    display: grid;
    text-align: center;

}
.c2{
    display: grid;
    text-align: center;
    
}
.c3{
    display: grid;
    text-align: center;
    
}